.page-header {
    margin-bottom: 1em;
}

#catalog-menu .collapsible-body {
    padding: 0;
}

#catalog-menu .collection a.collection-item {
    display: flex;
    padding-left: 50px;
}

#catalog-menu .collection a.collection-item i {
    margin-right: 1rem;
}

#product-detail table tr {
    font-size: 2rem;
}

#product-detail table tr th,
#product-detail table tr td {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}
